.signInButton {
  height: 3rem;
  border-radius: 3rem;
  background: var(--gray-850);
  border: 0;
  padding : 0 1.5rem;

  display: flex;
  align-items : center;
  justify-content : center;

  color: var(--white);
  font-weight: bold;

  @media(max-width: 599px) {
    padding: 0 1rem;
    font-size:0.8rem;
    
    svg {
      width: 10px;
      height: 10px;
    }
  }

  @media(max-width: 461px) {
    width: 9rem;
    height: 2rem;
    padding: 0 1rem;
    font-size:0.6rem;
  
    
    svg {
      width: 10px;
      height: 10px;
    }
  }

  @media(max-width: 421px) {
    width: 7rem;
    height: 2rem;
    padding: 0 1rem;
    font-size:0.6rem;
  
    
    svg {
      width: 5px;
      height: 5px;
    }
  }

  @media(max-width: 415px) {
    font-size: 0.4rem
  }

  svg {
    width: 20px;
    height: 20px;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  svg.closeIcon {
    margin-left: 0.5rem;
  }

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }


  
}