.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);  

}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding:0 2rem;
  display: flex;
  align-items: center;
  
  @media(max-width: 599px) {
    margin-left: 0;

    img {
      width: 6rem;
    }
  }

  @media(max-width: 415px) {
    padding: 0 0.7rem
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
    height: 5rem;

    @media(max-width: 599px) {
      margin-left: 3rem
    }

    @media(max-width: 415px) {
      margin-left: 2rem
    }

    a{
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem; 
      color: var(--gray-300);

      transition:color 0.2s;

      &:hover {
        color: var(--white)
      }

      @media(max-width: 397px) {
        font-size: 0.8rem;
      }

      & + a {
        margin-left: 2rem;

        @media(max-width: 599px) {
          margin-left: 0.5rem
        }

        @media(max-width: 397px) {
          margin-left: 0.2rem
        }
      }

      &.active {
        color : var(--white);
        font-weight: bold;
      }

      &.active::after {
        content: '';
        height: 3px;
        border-radius: 1px 3px 0 0 ;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: var(--yellow-500) ;
      }
    }
  }

  button {
    margin-left: auto;
  }
}